os:
  - osx
language: generic
sudo: required
dist: trusty
osx_image: xcode9.1
script:
  - swift build #Builds the dependencies
  - swift test #Tests whatever is inside the Test folder
notifications:
  email:
    on_success: never
    on_failure: change